@font-face {
    font-family: 'LEMONMILK';
    src: url('../fonts/LEMONMILK/LEMONMILK-Regular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, black, rgb(50, 50, 55), black);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center; /* Align content to the center */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Align content to the center */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}

.center-container {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1000px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-color: blue;
    transition: all 0.3s ease;
  }
  
.image-container img {
    max-width: 30%; /* Adjust this as per your design */
}

.image-in{
    width: auto;
    height: 100%;
}

.hyperlink-image{
    width: auto;
    height: auto;
    object-fit: cover;
}

.title-box {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.name {
    color: white;
    font-family: 'LEMONMILK';
    font-weight: bold;
    font-size: 42px;
}

.references {
    display: flex;
    align-items: flex-end;
    justify-content: center; /* Center buttons */
}

.reference img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 4px;
    transition: all 0.3s ease;
}

.reference img:hover {
    width: 40px;
    height: 40px;
}

.hyperlink-text {
    color: white;
    font-family: 'LEMONMILK';
    font-weight: bold;
    font-size: 42px;
}

.hyperlink-text:hover {
    color: rgb(248, 210, 86);
}

.title-heading {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 4px;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #555;
  }

  .scroll-to-top-btn:hover + .scroll-to-top-text {
    display: inline-block; /* Show the text */
}

.scroll-to-top-text {
  position: fixed;
  bottom: 20px;
  right: 70px; /* Adjusted to be next to the button */
  display: none; /* Initially hide the text */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

  .about-me-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
  }

  .about-me-btn:hover {
    background-color: #555;
}
  
  .about-me-btn:hover + .about-me-text {
    display: inline-block; /* Show the text */
}

.about-me-text {
  position: fixed;
  bottom: 80px;
  right: 70px; /* Adjusted to be next to the button */
  display: none; /* Initially hide the text */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

  .archive-btn {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .archive-btn:hover {
    background-color: #555;
  }

  .archive-btn:hover + .archive-text {
    display: inline-block; /* Show the text */
}

.archive-text {
  position: fixed;
  bottom: 140px;
  right: 70px; /* Adjusted to be next to the button */
  display: none; /* Initially hide the text */
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.copyright {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

  ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: black; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded edges */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }

.sitter {
    width: 100%;
    height: 100px;
    background-color: Black;
    justify-content: flex-end;
    display: none;
    flex-direction: column;
}

.sitter-items {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.sitter-item {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1; /* Allow items to grow and fill the available space equally */
  }

  .sitter-items a:hover {
    font-size: 20px;
  }

.sitter-copyright {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 850px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items to the center of the container */
    }
    .title-heading {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 8px;;
    }
}

@media screen and (max-width: 1510px) {
    .sitter {
        display: flex;
    }
    .copyright{
        display: none;
    }
    .scroll-to-top-btn {
        display: none;
    }
    .about-me-btn {
        display: none;
    }
    .archive-btn {
        display: none;
    }
}